name: edge

services:
  app:
    container_name: edge_app
    profiles: [ prod ]
    depends_on:
      - influxdb
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    restart: unless-stopped
    environment:
      - TELTONIKA__IP=${TELTONIKA__IP}
      - TELTONIKA__USER=${TELTONIKA__USER}
      - TELTONIKA__PASSWORD=${TELTONIKA__PASSWORD}
      - DATABASE__URL=http://influxdb:8086
      - DATABASE__ORG=${DATABASE__ORG}
      - DATABASE__BUCKET=${DATABASE__BUCKET}
      - DATABASE__TOKEN=${DATABASE__TOKEN}
      - BENCHMARKING__PING_ADDRESS=${BENCHMARKING__PING_ADDRESS}
      - BENCHMARKING__IPERF3_SERVER_IP=${BENCHMARKING__IPERF3_SERVER_IP}
      - BENCHMARKING__SPEEDTEST_URL=${BENCHMARKING__SPEEDTEST_URL}
      - SENSORS__GPS_SERIAL_PORT=/dev/ttyAMA0
      - SENSORS__BARO_I2C_ADDRESS=${SENSORS__BARO_I2C_ADDRESS}
    ports:
      - "8000:8000"
    devices:
      - /dev/gpiomem:/dev/gpiomem    # Required for RPi.GPIO + Blinka
      - /dev/ttyAMA0:/dev/ttyAMA0    # GPS Direct access to UART
      - /dev/i2c-1:/dev/i2c-1        # I2C bus for BMP388 sensor
      - /dev/i2c-20:/dev/i2c-20      # I2C bus for BMP388 sensor
      - /dev/i2c-21:/dev/i2c-21      # I2C bus for BMP388 sensor
    privileged: true

  influxdb:
    container_name: influxdb
    image: influxdb:2
    restart: unless-stopped
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${DOCKER_DATABASE__ADMIN_USER}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${DOCKER_DATABASE__ADMIN_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${DATABASE__ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${DATABASE__BUCKET}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${DATABASE__TOKEN}
    volumes:
      - type: volume
        source: influxdb-data
        target: /var/lib/influxdb2
      - type: volume
        source: influxdb-config
        target: /etc/influxdb2
    ports:
      - "8086:8086"

  replication-setup:
    container_name: replication-setup
    image: influxdb:2
    restart: "no"
    depends_on:
      - influxdb
    environment:
      - INFLUX_HOST=http://influxdb:8086
      - INFLUX_TOKEN=${DATABASE__TOKEN}
      - INFLUX_ORG=${DATABASE__ORG}
      - INFLUX_BUCKET=${DATABASE__BUCKET}
      - GROUND_INFLUX_URL=${GROUND_DATABASE__URL}
      - GROUND_INFLUX_TOKEN=${GROUND_DATABASE__TOKEN}
    volumes:
      - ./scripts/setup-replication.sh:/setup-replication.sh
    entrypoint: /bin/bash
    command: ["/setup-replication.sh"]

volumes:
  influxdb-data:
  influxdb-config:
